.container {
  border-radius: 0.5rem;
  border: none;
  position: relative;
  background: var(--ifm-menu-color-background-hover);
}
.header {
  border-radius: 0.5rem;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.header:hover, .focused > .header {
  background: var(--ifm-menu-color-background-hover);
}
.contentsBack {
  background: var(--ifm-background-color);
  border-radius: 0.5rem;
  border: none;
}
.contents {
  background: var(--ifm-menu-color-background-hover);
  border-radius: 0.5rem;
  border: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.option, .element {
  border-radius: 0.5rem;
  border: none;
  padding: 2.5px 7.5px;
  margin: 2.5px;
}
.option {
  cursor: pointer;
}
.option:not(.optionSelected):not(:hover) {
  box-shadow: inset 0 0 0 1.5px var(--ifm-menu-color-background-hover);
}
.option:hover, .optionSelected {
  background: var(--ifm-menu-color-background-hover);
}
.optionSelected {
  color: var(--ifm-color-primary);
}
.optionLocked {
  opacity: 0.5;
  cursor: default;
}
.optionRecommended {
  color: var(--ifm-color-primary-light);
}
.newline {
  width: 100%;
}