.faq {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: fit-content;
  max-width: 100%;

  cursor: pointer;

  border-style: solid;
  border-width: 0px;
  border-left-width: 5px;
  border-color: #e6a700;
  border-radius: 0.5rem;
  background-color: #4d3800;
  padding: 0.75rem;

  margin-bottom: 0.5rem;
}
.question {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.faq:hover {
  border-color: #ffbb00;
  background-color: #6d5000;
}
html[data-theme="light"] .faq {
  background-color: #ffba0026;
}
html[data-theme="light"] .faq:hover {
  background-color: #ffbb003f;
}
html[data-theme="light"] .answer {
  background-color: #eef9fd;
}
.questionBody {
  align-self: center;
  margin-left: 10px;
  margin-right: 5px;
}
.questionBody > p:last-child {
  margin-bottom: 0px;
}
.answerBody > p:last-child {
  margin-bottom: 0px;
}

.answer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  border-style: solid;
  border-width: 0px;
  border-left-width: 5px;
  border-color: #4cb3d4;
  border-radius: 0.5rem;
  background-color: #193c47;
  padding: 0.75rem;

  margin-top: 0.5rem;
  margin-left: calc(5px - 0.75rem);
  margin-right: 5px;
  margin-bottom: -5px;
}
.answerBody {
  display: flex;
  flex-direction: column;
  max-block-size: 100%;
  max-inline-size: calc(100% - 2.5rem);
  align-self: center;
  margin-left: 10px;
  margin-right: 5px;
  max-width: calc(100% - 2rem);
}