.container {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  image-rendering: pixelated;
  background-size: 100%;
  cursor: url("url-loader!./assets/normal.cur"), pointer;
}

.cursorLocked {
  cursor: url("url-loader!./assets/red.cur"), not-allowed;
}

.normal {
  background-image: url("./assets/normal.png");
  &.hoverable:hover {
    background-image: url("./assets/normalHover.png");
  }
}
.selected {
  background-image: url("./assets/selected.png");
  &.hoverable:hover {
    background-image: url("./assets/selectedHover.png");
  }
}
.locked {
  background-image: url("./assets/locked.png");
  &.hoverable:hover {
    background-image: url("./assets/lockedHover.png");
  }
  * {
    opacity: calc(40 / 256);
  }
}

.sprite {
  position: absolute;
  margin: auto;
  inset: 8px;
  max-width: 64px;
  max-height: 64px;
  user-select: none;
}

.tooltip {
  position: absolute;
  left: 4px;
  top: -6px;
  font-family: 'Munro';
  font-size: 30px;
  text-shadow: 3px 3px black;
  user-select: none;
}

.count {
  position: absolute;
  right: 4px;
  bottom: -6px;
  font-family: 'Munro';
  font-size: 30px;
  text-shadow: 3px 3px black;
  user-select: none;
}