.option {
  position: relative;
  border-radius: 0.5rem;
  border: none;
  padding: 7.5px 10px;
  cursor: pointer;
  transition-property: color, background;
  transition-duration: var(--ifm-transition-fast);
  transition-timing-function: var(--ifm-transition-timing-default);
}
.optionSelected > span {
  color: var(--ifm-menu-color-active);
}
.optionRecommended > span {
  color: var(--ifm-color-primary-lighter);
}
.optionLocked > span {
  opacity: 0.33;
}
.option:hover, .optionSelected {
  background: var(--ifm-menu-color-background-hover);
}

.tooltip {
  max-width: 350px;
  width: max-content;
  display: none;
  position: absolute;
  border-radius: 0.5rem;
  background-color: var(--ifm-background-color);
  border: none;
  padding: 10px;
  margin: 10px 12.5px 10px -10px;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
}
.option:hover .tooltip {
  display: block;
  animation: 0.33s moving forwards;
  animation-delay: 0.66s;
}
@keyframes moving {
  from { transform: translateY(-50px); opacity: 0;clip-path: polygon(0px 50px, 0px 9999px, 9999px 9999px, 9999px 50px); }
  to { transform: translateY(0px); opacity: 1;clip-path: polygon(0px 0px, 0px 9999px, 9999px 9999px, 9999px 0px); }
}