.spoiler {
  background-color: #383838;
  padding: 0.15rem 0.3rem;
  border-radius: 0.5rem;
  transition: background-color 0.1s ease;
  cursor: pointer;

  &:hover {
    background-color: #484848;
  }

  &.open .contents {
    opacity: 1;
  }
}
.contents {
  opacity: 0;
  transition: opacity 0.1s ease;
}
