.container {
    position: relative;
    width: 80px;
    height: 80px;
}

.slot {
    position: relative;
}

.sprite {
    position: absolute;
    margin: auto;
    left: 8px;
    top: 8px;
    right: 8px;
    bottom: 8px;
    max-width: 64px;
    max-height: 64px;
}

.tooltip {
    position: absolute;
    left: 4px;
    top: 6px;
    font-family: 'Munro';
    line-height: 75%;
    color: #FFED00;
    font-size: 30px;
    text-shadow: 3px 3px black;
}

.count {
    position: absolute;
    right: 3px;
    bottom: 9px;
    font-family: 'Munro';
    line-height: 75%;
    color: white;
    font-size: 30px;
    text-shadow: 3px 3px black;
}